.container #box-img {
  -webkit-animation-name: boxMovement;
          animation-name: boxMovement;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@media screen and (max-width: 1000px) {
  .container .card #woman-img {
    -webkit-animation-name: womanMovement;
            animation-name: womanMovement;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

@-webkit-keyframes boxMovement {
  from {
    -webkit-transform: translate(-43.8rem, 6rem);
            transform: translate(-43.8rem, 6rem);
  }
  to {
    -webkit-transform: translate(-43.8rem, 3rem);
            transform: translate(-43.8rem, 3rem);
  }
}

@keyframes boxMovement {
  from {
    -webkit-transform: translate(-43.8rem, 6rem);
            transform: translate(-43.8rem, 6rem);
  }
  to {
    -webkit-transform: translate(-43.8rem, 3rem);
            transform: translate(-43.8rem, 3rem);
  }
}

@-webkit-keyframes womanMovement {
  from {
    -webkit-transform: translate(-14.8rem, -9rem);
            transform: translate(-14.8rem, -9rem);
  }
  to {
    -webkit-transform: translate(-14.8rem, -13rem);
            transform: translate(-14.8rem, -13rem);
  }
}

@keyframes womanMovement {
  from {
    -webkit-transform: translate(-14.8rem, -9rem);
            transform: translate(-14.8rem, -9rem);
  }
  to {
    -webkit-transform: translate(-14.8rem, -13rem);
            transform: translate(-14.8rem, -13rem);
  }
}

html {
  font-size: 62.5%;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7)) no-repeat;
  background: linear-gradient(#af67e9, #6565e7) no-repeat;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  position: relative;
}

h1 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 5rem;
}

@media screen and (max-width: 1000px) {
  .container {
    padding-bottom: 9rem;
  }
}

.container #box-img {
  width: 19.1rem;
  height: 18.4rem;
  z-index: 2;
  position: absolute;
  -webkit-transform: translate(-43.8rem, 6rem);
          transform: translate(-43.8rem, 6rem);
}

.container .card {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-box-shadow: 0px 35px 67px -24px #1b1b66;
          box-shadow: 0px 35px 67px -24px #1b1b66;
  background-color: #fff;
  border-radius: 2.4rem;
  -ms-flex-preferred-size: 92rem;
      flex-basis: 92rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1001px) {
  .container .card {
    margin-left: 4rem;
    height: 51rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .container .card::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -58%;
    left: -62.5%;
    background: url("../images/bg-pattern-desktop.svg") 0 0 no-repeat;
  }
}

@media screen and (max-width: 1000px) {
  .container .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 90vw;
        flex-basis: 90vw;
    margin-top: 9rem;
    overflow: visible;
  }
  .container .card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/bg-pattern-mobile.svg") 0 0 no-repeat;
    background-position: top;
  }
}

.container .card #woman-img {
  z-index: 1;
  position: absolute;
}

@media screen and (min-width: 1001px) {
  .container .card #woman-img {
    width: 47.2rem;
    height: 35.9rem;
    -webkit-transform: translate(-53rem, 7rem);
            transform: translate(-53rem, 7rem);
  }
}

@media screen and (max-width: 1000px) {
  .container .card #woman-img {
    left: 50%;
    -webkit-transform: translate(-14.8rem, -9rem);
            transform: translate(-14.8rem, -9rem);
  }
}

.container .card .faq {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 42.4rem;
      flex-basis: 42.4rem;
  margin: 0 2rem 0 0;
  padding: 5rem 8rem 6rem 0;
  overflow: scroll;
  z-index: 3;
}

@media screen and (max-width: 1000px) {
  .container .card .faq {
    margin: 0;
    padding: 12rem 7% 15%;
    overflow: visible;
  }
}

.container .card .faq .gradient-layer, .container .card .faq .gradient-layer-top, .container .card .faq .gradient-layer-bottom {
  width: 100%;
  height: 6rem;
  position: absolute;
}

@media screen and (max-width: 1000px) {
  .container .card .faq .gradient-layer, .container .card .faq .gradient-layer-top, .container .card .faq .gradient-layer-bottom {
    display: none;
  }
}

.container .card .faq .gradient-layer-top {
  top: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(white, rgba(255, 255, 255, 0));
}

.container .card .faq .gradient-layer-bottom {
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(rgba(255, 255, 255, 0), white);
}

.container .card .faq h1 {
  color: #1d1e35;
  font-size: 3.3rem;
  margin-bottom: 1.6rem;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.container .card .faq h1:hover {
  color: #535697;
}

@media screen and (max-width: 1000px) {
  .container .card .faq h1 {
    text-align: center;
  }
}

.question-container {
  border-bottom: solid #e7e7e9 1px;
}

.question-container .question {
  color: #4a4b5e;
  cursor: pointer;
  padding-top: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .4s;
  transition: .4s;
}

.question-container .question:hover {
  color: #f47c57;
}

.question-container .question h3 {
  margin: 1.3rem 0 1.4rem;
  line-height: 1.5;
}

.question-container .question img {
  width: 1rem;
  height: 0.7rem;
  margin: 0 1rem;
  -webkit-transition: -webkit-transform ease-out 0.2s;
  transition: -webkit-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
}

.active h3 {
  font-weight: 700;
}

.panel {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  padding-right: 6rem;
  -webkit-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
}

.panel p {
  color: #787887;
  line-height: 1.6;
  margin: 0;
  padding-bottom: 1.4rem;
}

.attribution {
  color: #c4cbe9;
  font-size: 11px;
  line-height: 2;
  text-align: center;
  width: 90vw;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.attribution a {
  color: white;
  text-decoration: none;
}

.attribution a:hover {
  color: #fac7b7;
  font-weight: 700;
}

@media screen and (max-width: 499px) {
  .attribution span {
    display: block;
  }
}
